* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #0e0e0e;
  color: #fff;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 2rem;
  color: #00eaff;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 25px;
}

.controls input,
.controls select {
  padding: 10px;
  border: none;
  border-radius: 6px;
  background: #1d1d1d;
  color: white;
  outline: none;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.card {
  background-color: #1b1b1b;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  border: 1px solid #222;
  transition: 0.2s;
}

.card:hover {
  transform: translateY(-5px);
  border-color: #00eaff;
}

.card img {
  width: 100%;
  height: 160px;
  object-fit: contain;
  margin-bottom: 10px;
}

.product-title {
  font-size: 14px;
  font-weight: bold;
  height: 45px;
  overflow: hidden;
}

.product-price {
  color: #00eaff;
  font-size: 18px;
  margin: 10px 0;
}

.product-description {
  font-size: 12px;
  height: auto; 
  color: #ddd;
  margin-bottom: 10px;
}

.cart-btn {
  background-color: #00eaff;
  border: none;
  color: black;
  padding: 10px;
  width: 100%;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.cart-btn:hover {
  background-color: #00bcd4;
}

@media (max-width: 1000px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .product-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
